body {
    background-image: url('https://www.apple.com/newsroom/images/2023/09/apple-unveils-iphone-15-pro-and-iphone-15-pro-max/article/Apple-iPhone-15-Pro-lineup-hero-230912_Full-Bleed-Image.jpg.large.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
}

.countdown-container {
    margin: 20px auto;
}

.countdown {
    display: flex;
    justify-content: center;
}

.countdown-item {
    margin: 0 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}